<div class="issues-container" spinner="isLoading">
	<header>PRs mentioning you</header>
	<div ng-repeat="issue in userIssues" class="issue">
		<img ng-src="{{issue.user.avatar_url}}" class="user-image">
		<div class="line-top">
			<span class="repository-name">{{issue.repository.name}}</span>
			<a ng-href="{{issue.html_url}}" class="issue-title">{{issue.title}}</a>
		</div>
		<div class="line-bottom">
			Opened <span class="created-at">{{getRelativeTime(issue.created_at)}}</span> by
			<span class="username">{{issue.user.login}}</span>
		</div>

		<div class="comments">
			<img src="img/comments.png">
			<span class="comment-count">{{issue.comments}}</span>
		</div>
	</div>
</div>

<div class="issues-container team-issues" spinner="isLoading">
	<header>PRs mentioning your team members <span class="edit" ng-click="isEdit=!isEdit">edit</span></header>

	<div ng-include="'editTeam'" ng-if="isEdit"></div>

	<div ng-repeat="issue in teamIssues" class="issue" ng-hide="isEdit">
		<img ng-src="{{issue.user.avatar_url}}" class="user-image">
		<div class="line-top">
			<span class="repository-name">{{issue.repository.name}}</span>
			<a ng-href="{{issue.html_url}}" class="issue-title">{{issue.title}}</a>
		</div>
		<div class="line-bottom">
			Opened <span class="created-at">{{getRelativeTime(issue.created_at)}}</span> by
			<span class="username">{{issue.user.login}}</span> mentioning {{issue.mentionedUser}}
		</div>

		<div class="comments">
			<img src="img/comments.png">
			<span class="comment-count">{{issue.comments}}</span>
		</div>
	</div>
</div>
