<div class="dashboard-page">
	<div class="container user-issues" spinner="isLoading.mentions" spinner-options="spinnerOptions">
		<header>PRs mentioning you</header>
		<div ng-repeat="issue in mentionedIssues" class="content">
			<img ng-src="{{issue.user.avatar_url}}" class="user-image">
			<div class="line-top">
				<span class="repository-name">{{issue.repository.name}}</span>
				<a ng-href="{{issue.html_url}}" class="issue-title">{{issue.title}}</a>
				<img class="approved" ng-if="issue.approved" src="img/checkmark.png">
			</div>
			<div class="line-bottom">
				Opened <span class="created-at">{{getRelativeTime(issue.created_at)}}</span> by
				<span class="username">{{issue.user.login}}</span>
			</div>

			<div class="comments">
				<img src="img/comments.png">
				<span class="comment-count">{{issue.comments}}</span>
			</div>
		</div>
	</div>

	<div class="container user-issues" spinner="isLoading.comments" spinner-options="spinnerOptions">
		<header>PRs you have commented or created</header>
		<div ng-repeat="issue in commentedIssues" class="content">
			<img ng-src="{{issue.user.avatar_url}}" class="user-image">
			<div class="line-top">
				<span class="repository-name">{{issue.repository.name}}</span>
				<a ng-href="{{issue.html_url}}" class="issue-title">{{issue.title}}</a>
				<img class="approved" ng-if="issue.approved" src="img/checkmark.png">
			</div>
			<div class="line-bottom">
				Opened <span class="created-at">{{getRelativeTime(issue.created_at)}}</span> by
				<span class="username">{{issue.user.login}}</span>
			</div>

			<div class="comments">
				<img src="img/comments.png">
				<span class="comment-count">{{issue.comments}}</span>
			</div>
		</div>
	</div>
</div>
